@font-face {
    font-family: "Harmonia";
    src: url("../fonts/HarmoniaSansProCyr-L.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Harmonia";
    src: url("../fonts/HarmoniaSansProCyr-R.woff") format("woff");
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: "Harmonia";
    src: url("../fonts/HarmoniaSansProCyr-S.woff") format("woff");
    font-weight: 600;
    font-style: semi-bold;
}
@font-face {
    font-family: "Harmonia";
    src: url("../fonts/HarmoniaSansProCyr-B.woff") format("woff");
    font-weight: 700;
    font-style: bold;
}

html, body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

/* Header */
header {
    padding: 0 20% 0 20%;
    z-index: 100;
    width: 60%;
    height: 90px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

#header_logo {
    width: 200px;
    height: auto;
}

#header_menu_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.header_menu_list__item {
    margin-right: 32px;
}

.header_menu_list__item_link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#header_button {
    width: 170px;
    height: 40px;
    background-color: #058dd9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 5px;
}

#header_button__link {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
}

#description_btn__link_get, #description_btn__link_buy {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 55px;
    margin-bottom: 20px;
}

/* Description */
#description {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/description/bg.gif");
    background-position: left;
    background-size: cover;
}

#description_title {
    font-size: 40px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.15;
    font-weight: 700;
    animation: description_titie-anim 1s linear forwards;
}

@keyframes description_titie-anim {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(-2000px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

#description_text {
    color: #000000;
    font-size: 18px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    animation: description_title_text 1s linear forwards;
}

@keyframes description_title_text {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(0px)translateY(10px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

#decription_info {
    display: flex;
    flex-direction: column;
}

.description_btn {
    width: 250px;
    height: 55px;
    border: 1px solid #058dd9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description_btn__link_get {
    text-decoration: none;
    font-size: 20px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    color: #000000;
}

#description_btn__link_buy {
    text-decoration: none;
    font-size: 20px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    color: #777777;
}

#description_preview__blocks {
    z-index: 0;
    position: absolute;
    left: 245px;
    top: 231px;
    width: 1470px;
}

#description_preview__law {
    width: 500px;
    height: auto;
    grid-area: law;
}

#description_preview__pen {
    width: 140px;
    animation: pen-animation 12s infinite linear;
    grid-area: pen;
    grid-row: 6;
    grid-column: 2;
}

#description_preview__loop {
    width: 130px;
    animation: loop-animation 8s infinite linear;
    grid-area: loop;
    grid-row: 3;
    grid-column: 2;
}

#description_preview__shield {
    width: 150px;
    animation: shield-animation 8s infinite linear;
    grid-area: shield;
    grid-row: 2;
    grid-column: 6;
}

#description_preview__pc {
    width: 200px;
    animation: pc-animation 9s infinite linear;
    grid-area: pc;
    grid-row: 5;
    grid-column: 6;
}
#boiler {
    background-color: #fff;
    grid-area: b;
}
#description_preview {
    background-image: url("../images/description/blocks.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(7, 100px);
    grid-template-areas: ". . . loop . . ."
                         ". law law law law law ."
                         ". law law law law law ."
                         "pen law law law law law shield"
                         ". law law law law law ."
                         ". law law law law law ."
                         ". . . . pc . .";
}

@keyframes pen-animation {
    0% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    1% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    51% {
        opacity: 1;
        transform: translateX(81px)translateY(43px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

@keyframes loop-animation {
    0% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    51% {
        opacity: 1;
        transform: translateX(-22px)translateY(13px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

@keyframes shield-animation {
    0% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    51% {
        opacity: 1;
        transform: translateX(9px)translateY(-9px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

@keyframes pc-animation {
    0% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    11% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    12% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    56% {
        opacity: 1;
        transform: translateX(-22px)translateY(13px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

/* Benefits */

#benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_title {
    color: #000000;
    font-size: 50px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
#benefits_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 640px;
}

.right {
    background-position: right;
}

.benefits_item__preview_number {
    position: relative;
    z-index: 1;
    width: 200px;
    height: auto;
}

.benefits_item__preview_number-left {
    bottom: 300px;
    left: 140px;
}
.benefits_item__preview_number-right {
    bottom: 200px;
    right: 200px;
}

.rotate180 {
    transform: rotate(180deg);
}

.benefits_item__preview_image {
    position: relative;
    width: 520px;
    height: auto;
}

.benefits_item__preview_image-left {
    top: 50px;
    animation: preview_image-left-anim 2s linear forwards;
}

@keyframes preview_image-left-anim {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translateX(-83px)translateY(-47px)rotate(0deg)scale(1.1,1.1);
    }
}

.benefits_item__preview_image-right {
    top: 100px;
    animation: preview_image-right-anim 2s linear forwards;
}

@keyframes preview_image-right-anim {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translateX(116px)translateY(-69px)rotate(0deg)scale(1.1,1.1);
    }
}
.benefits_item__description {
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: center;
}

.benefits_item__description_title {
    color: #000000;
    font-size: 35px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    animation: benefits_item__description_title-anim 1s linear forwards;
}

@keyframes benefits_item__description_title-anim {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(0px)translateY(10px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}


.benefits_item__description_text {
    color: #8f8f8f;
    font-size: 20px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    animation: benefits_item__description_text-anim 1.4s linear forwards;
}

@keyframes benefits_item__description_text-anim {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(0px)translateY(20px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    30% {
        opacity: 0;
        transform: translateX(0px)translateY(20px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

.benefits_item__preview {
    background-image: url('../images/benefits/cloud.png');
    background-repeat: no-repeat;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.pr20 {
    padding-right: 20px;
}

.pl20 {
    padding-left: 20px;
}

/* Usage */

#usage_container {
    height: 820px;
    background-color: #f6f6fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cloud_top {
    height: 150px;
    /* width: 2780px; */
    display: flex;
    background-image: url('../images/usage/cloud_top.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cloud_bottom {
    height: 150px;
    display: flex;
    /* width: 2780px; */
    background-image: url('../images/usage/cloud_bottom.png');
    background-size: cover; 
    background-position: top;
}

#usage_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.usage_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    height: 478px;
    width: 250px;
    text-align: center;
}

.usage_item__preview {
    width: 70px;
    height: auto;
    padding-top: 30px;
}

.mr30 {
    margin-right: 30px;
}

.usage_item__title {
    color: #000000;
    font-size: 25px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.usage_item__text {
    color: #000000;
    font-size: 16px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

#usage_button {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 55px;
    border-width: 1px;
    border-radius: 5px;
    background-position: center center;
    border-color: #058dd9;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
#usage_button__text {
    color: #000000;
    font-size: 20px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    margin-right: 10px;
}

#usage_button__image {
    width: 45px;
    height: auto;
    animation: usage_button__image-anim 6s infinite linear;
}

#demo_item__images {
    display: flex;
    flex-direction: column;
}

@keyframes usage_button__image-anim {
    0% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-in-out;
    }
    50% {
        opacity: 1;
        transform: translateX(15px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}



#usage_button__link {
    text-decoration: none;
}

/* Demo */
#demo {
    height: 680px;
}
#demo_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.demo_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.demo_item__title {
    color: #000000;
    font-size: 16px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.demo_item__image {
    width: 430px;
    height: auto;
    
}
#demo_item__images {
    display: grid;
    grid-template-columns: repeat(5, 86px);
    grid-template-rows: repeat(5, 87,8px);
    /* grid-template-areas: ". . . loop . . ."
                         ". law law law law law ."
                         ". law law law law law ."
                         "pen law law law law law shield"
                         ". law law law law law ."
                         ". law law law law law ."
                         ". . . . pc . ."; */
}

#demo_item__sign {
    position: relative;
    width: 182px;
    height: auto;
    top: 250px;
    left: 150px;
}

#demo_item__sign_rot {

}

#demo_item__arrow_left {
    position: relative;  
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    animation: demo_item__arrow_left-anim 4s linear forwards;
    width: 70px;
    height: auto;
    top: 290px;
    left: 220px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

@keyframes demo_item__arrow_left-anim {
    0% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(80deg)scale(0,0);
        animation-timing-function: linear;
    }
    76% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(80deg)scale(0,0);
        animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
    }
    100% {
        opacity: 1;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
    }
}

#demo_item__image_text {
    color: #000000;
    font-size: 20px;
    font-family: "Harmonia", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    animation: demo_item__image_text-anim 4s linear forwards;
    position: relative;
    width: 190px;
    top: 350px;
    left: 120px;
}

@keyframes demo_item__image_text-anim {
    0% {
        opacity: 0;
        transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    1% {
        opacity: 0;
        transform: translateX(0px)translateY(10px)rotate(0deg)scale(1,1);
        animation-timing-function: linear;
    }
    76% {
        opacity: 0;
        transform: translateX(0px)translateY(10px)rotate(0deg)scale(1,1);
        animation-timing-function: ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translateX(-7px)translateY(-1px)rotate(0deg)scale(1,1);
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    menu {
        display: none;
    }
    #description {
        flex-direction: column;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    menu {
        display: none;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    menu {
        display: none;
    }

    /* Description */
    #description {
        flex-direction: column;
        background-repeat: no-repeat;
        background-position-y: bottom;
        justify-content: space-evenly;
        background-size: 900px;

    }
    #description_title {
        font-size: 20px;
    }
    #description_text {
        font-size: 12px;
    }
    .description_btn {
        width: 160px;
        height: 35px;
    }
    #description_btn__link_get {
        font-size: 14px;
    }
    #description_btn__link_buy {
        font-size: 14px;
    }
    #description_preview {
        grid-template-columns: repeat(7, 40px);
        grid-template-rows: repeat(7, 40px);
    }
    #description_preview__law {
        width: 200px;
    }
    #description_buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #d_btn_buy {
        align-self: flex-end;
    }
    #description_preview__bg {
        position: absolute;
        left: 0px;
        top: 488px;
        width: 690px;
    }
    #description_preview__pen {
        width: 50px;
        left: 43.5px;
        top: 5px;
    }
    #description_preview__loop {
        top: -100px;
        left: 80px;
        width: 50px;
    }
    #description_preview__shield {
        top: -100px;
        right: 30px;
        width: 50px;
    }
    #description_preview__pc {
        width: 80px;
    }

    /* Benefits */

    .benefits_item {
        flex-direction: column;
        justify-content: flex-start;
    }

    .benefits_item__preview_image {
        width: 160px;
    }

    .benefits_item__preview_number {
        width: 100px;
    }

    .benefits_item__preview {
        background-size: contain;
        height: 240px;
    }

    .benefits_item__preview_number-left {
        bottom: 70px;
        left: 0px;
    }

    .benefits_item__preview_image-left {
        left: 50px;
    }

    .section_title {
        font-size: 30px;
        text-align: center;
    }

    .benefits_item__description_title {
        font-size: 20px;
    }

    .benefits_item__description_text {
        font-size: 15px;
    }
    .pr20 {
        padding-right: 0px;
    }
    .pl20 {
        padding-left: 0px;
    }

    #benefits_item-invert {
        flex-direction: column-reverse;
    }

    .benefits_item__preview_number-right {
        bottom: 50px;
        right: 0px;
    }

    .benefits_item__preview_image-right {
        top: 80px;
        right: 100px;
    }

    .benefits_item__description {
        padding: 0 20px 0 20px;
    }

    .txt-aling_right {
        text-align: right;
    }

    /* Usage */
    #usage_items {
        flex-direction: column;
    }

    #usage_container {
        height: 2350px;
    }
    
    .mr30 {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #usage_button__text {
        color: #000000;
        font-size: 14px;
        font-family: "Harmonia", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 500;
    }

    #usage_button {
        width: 285px;
        height: 55px;
    }

    #usage_button__image {
        width: 45px;
    }

    /* Demo */
    #demo_items {
        flex-direction: column;
    }

    #demo_item__sign {
        width: 185px;
        left: 50px;
        top: 200px;
    }
    #demo_item__sign_rot {
        transform: rotate(90deg);
    }

    #demo_item__arrow_left {
        top: 60px;
        left: 230px;
    }

    #demo_item__image_text {
        left: -200px;
        top: 370px;
    }

    #demo_item__images {
        grid-template-columns: repeat(5, 58px);
        grid-template-rows: repeat(3, 87,8px);
    }

    .demo_item__image {
        width: 290px;
    }
}